@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Comic+Neue:ital,wght@1,300&family=Merriweather:ital,wght@1,300&family=Open+Sans:ital,wght@0,400;1,300&family=Oswald:wght@600&family=PT+Serif:wght@700&family=Raleway:ital,wght@1,100;1,400&family=Roboto&family=Roboto+Condensed&display=swap');

.home-container {
    vertical-align: auto;
    height: 80vh;
    background-image: url('../../../public/homebg.png');
    background-position: left;
    background-repeat: no-repeat;
    opacity: 0.9;
}
